# Marianna Ghazaryan & Gurgen Hovakimyan

Dear Gevorg, in this example we use only a few functions of our project. For more information you can see our module and/or wait our presentation.

Thank you.

In [1]:
import numpy as np
import pandas as pd
from numpy import dtype
import module as mg # our main module of functions

In [5]:
df = pd.read_csv('oil.csv')

In [6]:
df2 = pd.DataFrame({'foo': ['one', 'one', 'one', 'two', 'two',
                           'two'],
                   'bar': ['A', 'B', 'C', 'A', 'B', 'C'],
                   'baz': [np.nan, 2, 3, 4, 5, 6],
                   'zoo': [np.nan, 2, 3, np.nan, 5, np.nan]})

In [15]:
# normalization of dataset. By defualt we use z-score method. code bellow runs few minutes
mg.normalization(df)

,Date,Open,High,Low,Close,Vol,Weekday,Month,Year
0,10/1/2012,1.369186,1.385485,1.346295,1.343185,0,Monday,Oct,-1
1,10/2/2012,1.342573,1.328970,1.338743,1.312619,-1,Tuesday,Oct,-1
2,10/3/2012,1.312004,1.289014,1.209287,1.197188,0,Wednesday,Oct,-1
3,10/4/2012,1.200158,1.332210,1.219716,1.341746,0,Thursday,Oct,-1
4,10/5/2012,1.337897,1.343009,1.306020,1.333475,0,Friday,Oct,-1
5,10/7/2012,1.332143,1.308452,1.355644,1.329520,-1,Sunday,Oct,-1
6,10/8/2012,1.321714,1.319611,1.309616,1.336712,0,Monday,Oct,-1
7,10/9/2012,1.345450,1.398803,1.356723,1.413306,0,Tuesday,Oct,-1
8,10/10/2012,1.405149,1.426521,1.415697,1.410789,0,Wednesday,Oct,-1
9,10/11/2012,1.414859,1.445959,1.436195,1.464369,0,Thursday,Oct,-1
10,10/12/2012,1.466646,1.442719,1.424328,1.414385,0,Friday,Oct,-1
11,10/14/2012,1.419894,1.399163,1.431160,1.405035,-1,Sunday,Oct,-1
12,10/15/2012,1.403710,1.429401,1.407427,1.453941,0,Monday,Oct,-1
13,10/16/2012,1.447226,1.443079,1.444465,1.426611,0,Tuesday,Oct,-1
14,10/17/2012,1.434998,1.422921,1.419653,1.408272,0,Wednesday,Oct,-1
15,10/18/2012,1.404430,1.398443,1.375422,1.380583,0,Thursday,Oct,-1
16,10/19/2012,1.376019,1.385125,1.315369,1.304348,0,Friday,Oct,-1
17,10/21/2012,1.288628,1.267775,1.308537,1.284570,-1,Sunday,Oct,-1
18,10/22/2012,1.282514,1.302692,1.287320,1.285289,0,Monday,Oct,-1
19,10/23/2012,1.274962,1.260576,1.222233,1.231709,0,Tuesday,Oct,-1
20,10/24/2012,1.231446,1.244018,1.203893,1.214089,0,Wednesday,Oct,-1
21,10/25/2012,1.213105,1.241858,1.227627,1.238901,0,Thursday,Oct,-1
22,10/26/2012,1.240077,1.256976,1.225469,1.282053,0,Friday,Oct,-1
23,10/28/2012,1.276040,1.260576,1.282646,1.263713,-1,Sunday,Oct,-1
24,10/29/2012,1.262374,1.277135,1.265385,1.268748,0,Monday,Oct,-1
25,10/30/2012,1.265251,1.271375,1.270419,1.258679,0,Tuesday,Oct,-1
26,10/31/2012,1.259857,1.260576,1.257833,1.235305,0,Wednesday,Oct,-1
27,11/1/2012,1.199438,1.191103,1.201736,1.202941,-1,Thursday,Nov,-1
28,11/2/2012,1.193325,1.194342,1.131614,1.108727,0,Friday,Nov,-1
29,11/4/2012,1.106293,1.082033,1.127299,1.102254,-1,Sunday,Nov,-1
...,...,...,...,...,...,...,...,...,...
1613,12/22/2017,-0.339433,-0.341996,-0.321528,-0.316359,0,Friday,Dec,1
1614,12/26/2017,-0.335477,-0.296640,-0.317932,-0.272848,0,Tuesday,Dec,1
1615,12/27/2017,-0.283331,-0.302399,-0.282691,-0.289749,0,Wednesday,Dec,1
1616,12/28/2017,-0.289804,-0.304559,-0.273701,-0.283636,0,Thursday,Dec,1
1617,12/29/2017,-0.284769,-0.280801,-0.257879,-0.258104,0,Friday,Dec,1
1618,1/2/2018,-0.270384,-0.269642,-0.254642,-0.268892,0,Tuesday,Jan,1
1619,1/3/2018,-0.270743,-0.243005,-0.248889,-0.223223,0,Wednesday,Jan,1
1620,1/4/2018,-0.222193,-0.234366,-0.205018,-0.214953,0,Thursday,Jan,1
1621,1/5/2018,-0.219316,-0.240125,-0.217963,-0.231134,0,Friday,Jan,1
1622,1/7/2018,-0.225430,-0.248764,-0.199624,-0.225021,-1,Sunday,Jan,1
1623,1/8/2018,-0.226149,-0.244445,-0.211490,-0.225381,0,Monday,Jan,1
1624,1/9/2018,-0.218237,-0.197649,-0.202141,-0.187983,0,Tuesday,Jan,1
1625,1/10/2018,-0.177958,-0.194769,-0.164383,-0.174318,0,Wednesday,Jan,1
1626,1/11/2018,-0.176879,-0.170292,-0.155393,-0.172160,0,Thursday,Jan,1
1627,1/12/2018,-0.176879,-0.174611,-0.170137,-0.150225,0,Friday,Jan,1
1628,1/14/2018,-0.150626,-0.175331,-0.131300,-0.155619,-1,Sunday,Jan,1
1629,1/15/2018,-0.156020,-0.158773,-0.135615,-0.136201,0,Monday,Jan,1
1630,1/16/2018,-0.144512,-0.167412,-0.161506,-0.176116,0,Tuesday,Jan,1
1631,1/17/2018,-0.169686,-0.186850,-0.171575,-0.167845,0,Wednesday,Jan,1
1632,1/18/2018,-0.163213,-0.185410,-0.162585,-0.170362,0,Thursday,Jan,1
1633,1/19/2018,-0.181914,-0.205208,-0.181284,-0.195534,0,Friday,Jan,1
1634,1/21/2018,-0.189466,-0.214928,-0.171215,-0.190860,-1,Sunday,Jan,1
1635,1/22/2018,-0.190905,-0.189730,-0.177329,-0.180431,0,Monday,Jan,1
1636,1/23/2018,-0.176160,-0.163452,-0.151078,-0.146989,0,Tuesday,Jan,1
1637,1/24/2018,-0.147389,-0.138255,-0.135975,-0.126492,0,Wednesday,Jan,1
1638,1/25/2018,-0.112145,-0.126016,-0.134536,-0.146629,0,Thursday,Jan,1
1639,1/26/2018,-0.157459,-0.156253,-0.133098,-0.140156,0,Friday,Jan,1
1640,1/28/2018,-0.139837,-0.165612,-0.119793,-0.141954,-1,Sunday,Jan,1
1641,1/29/2018,-0.143074,-0.162372,-0.164383,-0.174318,0,Monday,Jan,1
1642,1/30/2018,-0.181914,-0.204488,-0.191353,-0.198771,0,Tuesday,Jan,1

In [7]:
# Fill nan values of defind column
mg.nafill(df2, 'baz')

C:\Users\Gurgen\Desktop\Master Degree\1 course\1 half\Python\Group_Project\Marianna_Gurgen_github\pythondatamanipulation\final project\module.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df[columns[i]][j] = df[columns[i]].mean()

   foo bar  baz  zoo
0  one   A  4.0  NaN
1  one   B  2.0  2.0
2  one   C  3.0  3.0
3  two   A  4.0  NaN
4  two   B  5.0  5.0
5  two   C  6.0  NaN

In [8]:
# drop columns with na
mg.dropna(df2)

array([['one', 'B', 2.0, 2.0],
       ['one', 'C', 3.0, 3.0],
       ['two', 'B', 5.0, 5.0]], dtype=object)

In [9]:
mg.summary(df)

Date
Count :  1643
Unique :  1643


Open
Count :  1643
Min :  27.99
1st Q :  49.925
Median :  61.68
3rd Q :  106.97
Max :  117.96
Mean :  74.06831405964707
St. dev :  27.80608273465092


High
Count :  1643
Min :  28.75
1st Q :  50.67
Median :  62.7
3rd Q :  107.845
Max :  118.29
Mean :  74.78076080340847
St. dev :  27.780344052611788


Low
Count :  1643
Min :  27.1
1st Q :  49.25
Median :  60.63
3rd Q :  106.455
Max :  117.74
Mean :  73.32127814972615
St. dev :  27.808711385783646


Close
Count :  1643
Min :  27.79
1st Q :  49.92
Median :  61.87
3rd Q :  107.03
Max :  118.04
Mean :  74.04758368837497
St. dev :  27.808848624480497


Vol
Count :  1643
Min :  0
1st Q :  48471.5
Median :  113728.0
3rd Q :  159089.0
Max :  522586
Mean :  108013.22458916616
St. dev :  72296.2539506527


Weekday
Count :  1643
Unique :  6


Month
Count :  1643
Unique :  12


Year
Count :  1643
Min :  2012
1st Q :  2014.0
Median :  2015.0
3rd Q :  2016.0
Max :  2018
Mean :  2014.900182592818
St. dev :  1.5591523715387525

In [14]:
# calculate the difference between two variables or one variable change dynamics
a = mg.change(df, "Open", "Close", symmetry_type = 'symmetric', difference_type = 'logarithmic')
print(a[:10])

[-0.0066207632023428204, -0.007659420189728447, -0.029466540554772463, 0.03583564437112733, -0.001258992972053974, -0.0008103363339021316, 0.003602958320214292, 0.016635174339790504, 0.0012366400303999987, 0.011920554865337928]

In [11]:
# returns pivot for specified columns
mg.pivoting(df, "Date", "Weekday", "Open")

array([[112.14, 0, 0, 0, 0, 0],
       [0, 111.4, 0, 0, 0, 0],
       [0, 0, 110.55, 0, 0, 0],
       ...,
       [0, 0, 70.18, 0, 0, 0],
       [0, 0, 0, 70.09, 0, 0],
       [0, 0, 0, 0, 69.01, 0]], dtype=object)

In [12]:
# returns pivot table grouped by columns and aggregated by specified function
mg.pivvottable(df, "Month", "Weekday", "Open", function = "median")

array([[60.95 , 64.   , 59.08 , 62.88 , 64.13 , 60.98 ],
       [52.135, 52.2  , 52.325, 52.395, 51.66 , 51.515],
       [63.35 , 63.58 , 63.43 , 62.81 , 62.93 , 62.64 ],
       [59.735, 58.56 , 58.985, 58.035, 58.98 , 58.925],
       [62.995, 56.96 , 62.305, 68.52 , 61.8  , 66.54 ],
       [56.165, 57.65 , 55.785, 57.44 , 57.675, 58.8  ],
       [63.34 , 63.905, 63.965, 63.62 , 63.32 , 64.69 ],
       [58.11 , 57.85 , 60.05 , 56.33 , 56.13 , 56.04 ],
       [66.75 , 65.82 , 65.855, 67.17 , 65.6  , 66.16 ],
       [74.965, 63.68 , 63.52 , 70.46 , 64.12 , 63.355],
       [72.575, 60.38 , 57.95 , 83.36 , 85.13 , 86.1  ],
       [54.915, 56.19 , 55.59 , 55.02 , 54.625, 54.18 ]])

In [13]:
# groupping and aggregating by specified column and function
mg.grouppby(df, 'Month', function = "minimum")

['Open', 'High', 'Low', 'Close', 'Vol', 'Year']
Oct [46.91, 47.57, 46.41, 47.03, 40, 2012]
Nov [43.97, 44.52, 43.16, 43.99, 3, 2012]
Dec [36.36, 36.72, 35.98, 36.23, 5, 2012]
Jan [27.99, 28.75, 27.1, 27.79, 1, 2013]
Feb [30.83, 31.35, 29.92, 30.81, 7, 2013]
Mar [36.6, 37.25, 35.95, 36.6, 12, 2013]
Apr [37.5, 38.44, 37.27, 37.58, 23, 2013]
May [43.49, 45.7, 43.33, 43.45, 0, 2013]
Jun [44.81, 45.75, 44.35, 44.78, 14, 2013]
Jul [43.11, 43.38, 42.52, 43.16, 74, 2013]
Aug [41.94, 43.18, 41.51, 41.97, 21, 2013]
Sep [45.79, 46.27, 45.09, 45.82, 40, 2013]